.centralizar{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.titulo1, .titulo2, .titulo3 {
    background-color: rgba(0, 0, 0, 0.779);
    padding: 16px 100px ;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.criadores{
    background-color: brown;
    padding: 6px 15px ;
    border-radius: 2rem;
    color: aliceblue;
    text-align: center;
    margin-top: 575px;
}

