@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url(assets/fazendo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
}

/* Henry */

/* Pode mudar isso daq miro, mas eu preciso de algo parecido*/
main {
    background-image: url(assets/v1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 5% 10% 5% 10%;
    padding: 1rem;
}
/* Pode mudar isso daq miro, mas eu preciso de algo parecido*/

.destaques {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.container {
    padding-top: 0;
    background-color: #2e2220;
    border: 5px solid #540810;
}
h3 {
    text-align: center;
}
.destaques h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    border: 0;
    background-color: black;
}

.destaques p {
    background-color: #1f1a1a;
    border: 3px solid black;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
}

.artigos h2 {
    background-color: red;
    flex-basis: 100%;
    text-align: center;
    border-bottom: 1em solid black;
}

.artigos div {
    background-color: white;
    color: black;
    flex: 0.5;
}
.artigos div h3 {
    color: black;
}
.artigos div p {
    color: black;
}

/* Henry */
