@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url(assets/teste1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: "Roboto", sans-serif;
}

/* Henry */

/* Pode mudar isso daq miro, mas eu preciso de algo parecido*/
main {
    background-image: url(assets/v1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5rem;
}
/* Pode mudar isso daq miro, mas eu preciso de algo parecido*/

.destaques {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.container {
    padding-top: 0;
    background-color: #2e2220;
    border: 5px solid #1e2110;
}

.destaques h2 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
}

.destaques p {
    background-color: #1f1a1a;
    border: 3px solid black;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.artigos h2 {
    flex-basis: 100%;
}

.artigos div {
    flex: 0.5;
}

/* Henry */
